{% include './includes/header.html' %}

<!-- Page Header-->
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icones/binoculars.svg') }}"/>
<header class="masthead" style="background-image: url('/static/images/conditions_utilisation-bg.jpg')">
    <div class="container position-relative px-4 px-lg-6">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Mentions Légales</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="text-center fst-italic">
                <h5>Mentions Légales</h5>
            </div>
            
            <div class="text-center fst-italic">
                <h7>Identification de l'éditeur</h7>
            </div>           
            <div class="small text-center text-muted fst-italic">
                <p>
                Ce site web fait partie du projet pour la SAE 2.03 « Mettre en place une solution informatique pour l'entreprise. »
                rattaché au semestre 2 du programme de BUT 1 R&T (Réseaux informatiques et Télécommunications)
                Certaines des pages actuellement accessibles ont été créées pour le projet SAE 1.04 « Se présenter sur Internet »,
                lui-même rattaché au semestre 1 du programme de BUT 1 R&T.
                </p>
            </div>
            
            <div class="text-center fst-italic">
                <h7>Directeur de la publication</h7>
            </div>           
            <div class="small text-center text-muted fst-italic">
                <p>
                    Au sens de la propriété de ce site web et de l'<a href="https://www.legifrance.gouv.fr/loda/article_lc/LEGIARTI000033971722">article 93-2</a> de la loi 
                    n°82-652 du 29 juillet 1982
                    Monsieur Ptak Axel, étudiant en BUT 1 R&T (Réseaux informatiques et Télécommunications) en est le directeur de publication.
                </p>
            </div>

            <hr class="my-4" />
            
            <div class="text-center fst-italic">
                <h5>Conditions d'utilisation</h5>
            </div>
            
            <div class="text-center fst-italic">
                <h7>Clause de non-responsabilité</h7>
            </div>           
            <div class="small text-center text-muted fst-italic">
                <p>
                    La responsabilité de l'auteur, Axel Ptak,
                    ne peut en aucune manière être engagée quant au contenu des informations figurant
                    sur ce site ou aux conséquences pouvant résulter de leur utilisation ou interprétation.
                </p>
            </div>
            
            <div class="text-center fst-italic">
                <h7>Propriété intellectuelle</h7>
            </div>
            <div class="small text-center text-muted fst-italic">
                <p>
                    L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur
                    et la propriété intellectuelle. Toute exploitation à des fins commerciales est interdite.
                    La reproduction de tout ou partie de ce site sur n'importe quel support, est formellement interdite.
                </p>
            </div>
            
            <hr class="my-4" />
            
            <div class="text-center fst-italic">
                <h5>Crédits</h5>
            </div>
            <div class="text-center fst-italic">
                <h7>Logiciels utilisés </h7>
            </div>
            <div class="small text-center text-muted fst-italic">
                <p>
                Le site a été réalisé à l'aide du logiciel <a href="https://code.visualstudio.com">Visual Studio Code</a> pour l'édition du code HTML et CSS,
                avec l'extension "Live Preview". 
                </p>
            </div>

            <div class="text-center fst-italic">
                <h7></h7>
            </div>
            <div class="small text-center text-muted fst-italic">

            </div>

            <div class="text-center fst-italic">
                <h7>Police</h7>
            </div>
            <div class="small text-center text-muted fst-italic">
                <p>Le texte affiché sur le site utilise les polices "Open Sans" et "Lora" fournies par l'API <a href="https://developers.google.com/fonts?hl=fr">Google Fonts</a>.</p>
            </div>

            <div class="text-center fst-italic">
                <h7>Icônes</h7>
            </div>
            <div class="small text-center text-muted fst-italic">
                <p>Toutes les icônes présentes sur ce site web viennent du site web <a href="https://icons.getbootstrap.com/">Bootstrap Icons</a>.</p>
            </div>

            <div class="text-center fst-italic">
                <h7>Merci</h7>
            </div>
            <div class="small text-center text-muted fst-italic">
                <p>Grand merci à Monsieur De Bakcer Ethan pour la permission de l'utilisation d'une image de fond utilisé dans ma page <a href="./competences">compétences</a>.</p>
                <p>Grand merci à Monsieur <a href="https://www.twitch.tv/lurker_with_coffee">lurker_with_coffee</a> pour l'autorisation expresse de l'utilisation de l'un de ses fans arts présent en tant qu'image de fond pour la page <a href="./hobby">Hobby</a></p>
            </div>
            <br>
        </div>
    </div>
</div>

{% include './includes/footer.html' %}