<!DOCTYPE html>
<html>
<head>
    <title>My Containers</title>
</head>
<body>
    {% include 'includes/header.html' %}
<h2>My Active Containers (Maxium Authorized is 10)</h2>

<ul>
    {% for c in containers %}
        <li>
            <b>{{ c.name }}</b>  
            <br>Image : {{ c.image }}
            <br>Port : {{ c.port }}
            <br>
            <a href="/container/{{ c.id }}" target="_blank">Open</a>
            <a href="/kill/{{ c.id }}">Kill</a>
        </li>
        <br>
    {% endfor %}
</ul>
</body>
</html>
